
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gsantner.markor.share">
    <application android:label="Share to Markdown"
        android:theme="@android:style/Theme.Material.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
